.images-block1 {
    position: absolute;
    margin-left: 70px;
}
.img-block1 {
    padding-left: -3px;
}
.img-block3 {
    margin-left: 820px;
}
.img-block2 {
    margin-left: 410px;
}
.block1 {
    margin-top: 50px;
}
.block-text1 {
    margin-left: 64px;
    margin-top: 360px;
}
.jeik {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.voro {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.bei {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompas {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.doclad {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}
.block-text2 {
    margin-top: -222px;
    margin-left: 475px;
}
.jeik1 {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.voro2 {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.bei3 {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompas4 {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.doclad5 {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}
.block-text3 {
    margin-left: 885px;
    margin-top: -222px;
}
.jeik6 {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.voro7 {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.bei8 {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompas9 {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.doclad10 {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}
/* block2 */
.block-text6 {
    margin-left: 885px;
    margin-top: -222px;
}
.block-text5 {
    margin-top: -222px;
    margin-left: 475px;
}
.block-text4 {
    margin-top: 380px;
    margin-left: 70px;
}
.images-block2 {
    margin-top: 50px;
    position: absolute;
    padding-left: 70px;
}
.img-block5 {
    margin-left: 410px;
}
.img-block6 {
    margin-left: 820px;
}
.jeikq {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.vorow {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.beie {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompasr {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.docladt {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}
.jeiky {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.vorou {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.beii {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompaso {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.docladp {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}
.jeika {
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.voros {
    width: 350px;
    height: 60px;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.beid {
    width: 355px;
    height: 50px;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    opacity: 0.6;
    letter-spacing: 0.02em;
}
.kompasf {
    color: #9224D6;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.docladg {
    margin-top: -40px;
    margin-left: 250px;
    color: #000000;
    font-family: 'Popins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.6;
}